name: lint / check

on:
  push:
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
      - name: Install dependencies
        run: pnpm install --frozen-lockfile
      - name: Run secretlint
        shell: bash
        run: pnpm dlx @secretlint/quick-start $(git ls-files)
      - run: pnpm check
      - run: pnpm lint

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
      - run: pnpm install --frozen-lockfile
      - run: pnpm build

  pkg-pr-now:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
      - run: pnpm install --frozen-lockfile
      - run: pnpm build:package
      - run: pnpm dlx pkg-pr-new publish --compact
